@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
    background-color: #e6f6ff;
}

.primary-section {
    background-image: url("diwali-bg.png");
    height: 30vh;
    background-size: cover;
}

.primary-section-heading {
    font-family: Caveat;
    color: white;
    width: 200px;
    padding: 30px;
}

.secondary-section {
    background-color: #e6f6ff;
    text-align: center;
    padding: 20px;
}

.card-item {
    background-color: white;
    border-radius: 20px;
    width: 450px;
    text-align: center;
    margin: 10px;
}

.card-item-image {
    width: 150px;
}

.card-item-heading {
    font-size: 15px;
    color: #616e7c;
    font-family: Roboto;
    font-weight: bold;
    padding: 8px 8px 0px 8px;
}

.card-item-discription {
    font-family: Roboto;
    font-weight: 600;
    color: #323f4b;
    font-size: 16px;
}

.button{
    margin: 50px 50px 1px 50px;
}

.special-offers-container{
    text-align: center;
    font-size: 15px;
    color: #616e7c;
    font-family: Roboto;
    font-weight: bold;
}
.special-offers-image{
    height: 120px;
}

.special-heading{
    text-align: center;
    padding: 10px;
    color: #616e7c;
    animation: blinker 1s linear infinite;
}

  @keyframes blinker {
    50% {
      color: red;
    }
  }
